<!--Form Control da barra da pesquisa -->

<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Navbar Pesquisar -->
                <a class="buscar-pokemon" href="#"></a>

                <!-- Barra de Pesquisar -->
                <div class="input-group d-flex justify-content-end">
                <form class="form-inline">
                <div class="input-group">
                    <input type="search" class="form-control rounded m-2" placeholder="Pegar Pokemon">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-primary m-2">Pegar</button>
                    </div>
                    
                </div>
            </form>
    </div>
